{
  "extends": "react-app",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "document": true,
    "location": true,
    "test": true,
    "window": true,
    "fetch": true,
    "WebSocket": true,
    "alert": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/no-string-refs": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/first": 0,
    "import/no-dynamic-require": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "jsx-a11y/label-has-for": [ 2, {
        "components": [ "Label" ],
        "required": {
            "every": [ "id" ]
        },
        "allowChildren": false,
    }],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/img-has-alt": 0,
    "no-alert": 0,
    "no-use-before-define": 0,
    "no-console": 0,
    "no-tabs": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "semi": ["error", "never"],
    "no-return-assign": 0,
    "no-plusplus": 0,
    "no-debugger": 0,
    "global-require": 0,
    "object-property-newline": 0,
    "arrow-parens": 0,
    "no-confusing-arrow": 0,
    "function-paren-newline": 0,
    "prefer-default-export": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0
  }
}
