/* .navbar-collapse.collapse {
  position: absolute;
  transform: translateX(-100px);
  transition: 1s ease;
  width: initial !important;
}
.navbar-collapse.width.collapse.in {
  transform: translateX(0);
} */